<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
    </header>
    <main class="main">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.captivating-beauty.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.welcome-to-renart.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML"
            data-hx-get="index.the-beauty-of-the-renaissance.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.exhibitions.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.our-online-guide.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.renaissance-miracle.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.eternal-beauty.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.religious-motifs.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.renaissance-reverie:.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.artworks.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.latest-events.partial.html">
        </section>
    </main>
    <footer class="footer">

    </footer>
</body>

</html>